.a img {
  display: block;
  margin-left: 550px;
  margin-right: auto;
  float: right;
  margin-bottom: 70%;
}

p {
  font-family: Arial, Helvetica, sans-serif;
  color: rgb(255, 255, 255);
}

h2{
  color: rgb(187, 190, 192);
  text-decoration: underline;
}

h3{
  color: rgb(187, 190, 192);
  text-decoration: underline;
}
h1{
  color: rgb(187, 190, 192);
  text-decoration: underline;
}
body {
  background-image: url(kép/wallpapersden.com_stardew-valley-hd-gaming-background_1668x2388.jpg);
  background-repeat: auto;
}

.focim {
  text-align: center;
  font-size: 100px;
  color: antiquewhite;
  font-family: Georgia, 'Times New Roman', Times, serif;
}


.megjegyzes {
  margin-bottom: 6%;
  color: aliceblue;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.container{
  background-color: rgba(0, 0, 0, 0.6);
  
}

.carousel-inner img {
  width: 100%;
  height: 90%;
}
